{% extends 'base.html' %}
{% block content %}

<h2>Monthly Targets</h2>
<a href="{% url 'target-create' %}">Create Target</a>
<a href="{% url 'sale-list' %}">Achived target</a>
<table border="1" cellpadding="5">
    <tr>
        <th>User</th>
        <th>Month</th>
        <th>Year</th>
        <th>Target Area</th>
        <th>Actions</th>
    </tr>
    {% for target in targets %}
    <tr>
        <td>{{ target.user.profile.first_name }} {{ target.user.profile.last_name }}</td>
        <td>{{ target.get_month_display }}</td>
        <td>{{ target.year }}</td>
        <td>{{ target.target_area }}</td>
        <td>
            <a href="{% url 'target-update' target.pk %}">Edit</a> |
            <a href="{% url 'target-delete' target.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
